@if (showHeader) {
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        text="Indietro"
        icon="chevron-back-outline"
        [defaultHref]="defaultHref"
      ></ion-back-button>
    </ion-buttons>

    <!-- title centrato di default in ios, a sinistra in android -->
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
}

<ion-content>
  <!-- all pages will be injected here -->
  <ion-router-outlet [animated]="false"></ion-router-outlet>
</ion-content>
