{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "embeddedLanguageFormatting": "auto",
    "cursorOffset": -1,
    "endOfLine": "crlf",
    "experimentalOperatorPosition": "end",
    "experimentalTernaries": false,
    "filepath": "src/**/*.{js,ts,html,css,json}",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxSingleQuote": true,
    "printWidth": 500,
    "plugins": [],
    "objectWrap": "preserve",
    "overrides": [],
    "parser": "typescript",
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleAttributePerLine": false,
    "singleQuote": true,
    "tabWidth": 2,
    "trailingComma": "none",
    "useTabs": false,
    "vueIndentScriptAndStyle": false
}