<ion-content [fullscreen]="false">
  <div id="head">
    <ion-toolbar color="trasparent">
      <ion-buttons slot="start">
        <ion-button class="back-button" routerLink="/home" routerlinkactive="active" color="light">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="light">Dispositivi</ion-title>
    </ion-toolbar>
  </div>

  <div id="navigation">
    <ion-segment value="tutto" color="dark" animation="no-animation" (ionChange)="filtraDispositivi($event)">
      <ion-segment-button value="tutto">
        <ion-label color="light">Tutto</ion-label>
      </ion-segment-button>
      <ion-segment-button value="luci">
        <ion-label color="light">Luci</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tapparelle">
        <ion-label color="light">Tapparelle</ion-label>
      </ion-segment-button>
      <ion-segment-button value="preferiti">
        <ion-label><ion-icon name="star" color="warning"></ion-icon></ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>


  @for(room of this.rooms | keyvalue ;track room.key){
    @if(this.rooms[room.key+""]?.length > 0){
      <div class="room-header">
        <span>{{ room.key }}</span>
      </div>
        @for(device of this.rooms[room.key + ""]; track $index) {
          @if(device.tipo === 0) {
            <app-luce [nome]="device.nome" [stato]="device.stato" [favourite]="device.favourite"></app-luce>
          }
          @if(device.tipo === 1 || device.tipo === 2) {
              <app-tapparella [nome]="device.nome" [stato]="device.stato" [favourite]="device.favourite"></app-tapparella>
            }
          }
    }
  }



</ion-content>