.background {
  position: fixed;
  z-index: -1;
  height: 60vh;
  width: 100%;
  background: linear-gradient(#dfffe6, #f5f6f7);
  user-select: none;
  pointer-events: none;
  top: 0;
  left: 0;

  svg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
}
