.max-width-container {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  position: relative;
  height: 500px;
  padding-top: var(--ion-safe-area-top);
}

.logo {
  width: 40%;
  height: auto;
  max-width: 16rem;
}

.favourites {
  margin-top: 3rem;
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 1.15rem;

  ion-grid {
    --ion-grid-padding: 0;
  }

  h3 {
    margin-top: 0;
  }

  ion-button {
    --box-shadow: 0;
    --height: 2.5rem;
    --border-radius: calc(var(--height) / 2);
    height: var(--height);
    text-transform: none;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 1rem;
  }

  ion-text {
    display: block;
  }

  img {
    width: 100%;
    max-width: 8.5rem;
    height: 100%;
    object-fit: cover;
  }
}

.categories {
  margin-top: 2rem;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.5rem;
    margin-top: 1rem;

    a {
      background-color: #fff;
      color: #000;
      border-radius: 1rem;
      display: flex;
      align-items: center;
      padding: 1rem 1.5rem;
      text-decoration: none;
      gap: 1rem;
      font-size: 1rem;

      img {
        height: 2rem;
        width: auto;
      }
    }
  }
}
