<title>Home</title>
<ion-content [fullscreen]="true">
  <div id="wrapper">
    <!--Logo-->
    <img src="assets/logo.png" alt="Logo" id="logo">
    
    <!--Preferiti-->
    <section class="preferiti">
      <h2>Preferiti</h2>
      <div class="preferiti-grid">
        @for(dispositivo of preferiti;track $index){
          @if(dispositivo.tipo == 0)
          {
            <app-luce [nome]="dispositivo.nome" [stato]="dispositivo.stato" [favourite]="dispositivo.favourite"></app-luce>
          }
        }
      </div>
    </section>
    <!--Categorie-->

    <section class="categorie-container">
      <h2>Categorie</h2>
      <div class="category-grid">
        <ion-button *ngFor="let category of categories" color="dark" (click)="goToCategory(category)">
          <img src="assets/{{category.img}}.png" alt="">
          <span id="categoryText">{{ category.name }}</span>
        </ion-button>
      </div>
    </section>

    <footer class="ion-fixed bottom-0 start-0 end-0">
      <div id="footerTab">
        <ion-tab-bar>
          <ion-tab-button tab="home" class="active">
            <ion-icon name="home-outline" (click)="goHome()"></ion-icon>
            <p>Home</p>
          </ion-tab-button>
  
          <ion-tab-button tab="stats">
            <ion-icon name="analytics-outline"></ion-icon>
            <p>Statistiche</p>
          </ion-tab-button>
  
          <ion-tab-button tab="account">
            <ion-icon name="person-outline"></ion-icon>
            <p>Account</p>
          </ion-tab-button>
        </ion-tab-bar>
      </div>
    </footer>
  </div>
</ion-content>
