:host {
  --card-border-radius: 18px;
  --primary-color: #3880ff;
  --text-color: #333333;
  --background-color: #F5F6F7;
  --card-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  --header-height: 85px;
}

ion-content {
  --ion-background-color: var(--background-color);
}


.compact-room-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 16px; 
  padding: 16px;
  
  @media (min-width: 768px) {
    width: 90%;
    max-width: 768px;
    margin: 0 auto; 
  }
  
  @media (max-width: 340px) {
    gap: 12px;
    padding: 10px;
  }
}
