<ion-content [fullscreen]="false">
  <div id="head">
    <ion-toolbar color="trasparent">
      <ion-buttons slot="start">
        <ion-button class="back-button" routerLink="/home" routerlinkactive="active" color="light">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title color="light">Stanze</ion-title>
    </ion-toolbar>
  </div>

  <div class="compact-room-grid">
    @for(stanza of stanzeService.stanze; track $index) {
      <app-stanza [nome]="stanza" class="room-item"></app-stanza>
    }
  </div>
</ion-content>